header {
  background-image: url(../../assets/bg1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center center;
  height: fit-content;
  overflow: hidden;
  padding-top: 2rem;
}

h2 {
  text-align: center;
}

.header_container {
  display: flex;
  text-align: center;
  height: 100%;
  gap: 18rem;
}

.skills_dwn-arrow {
  transform: rotate(90deg);
}

.container-info {
  margin-left: -2rem;
}

.container-info_names {
  padding: 2rem;
  background: rgba(0, 0, 0, 0.15);
  margin-top: 10rem;
  border-radius: 2rem;
}

/* =========== Cta =============*/
.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* =========== Header Socials =============*/
.header_socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8rem;
  margin: 5rem 2rem 0 2rem;
  justify-content: center;
  /* position: absolute;
    left: 10rem;
    bottom: 8rem; */
}

.mine {
  position: absolute;
  left: calc(100% - 30rem);
}

.mine_image {
  content-visibility: hidden;
}

/* =========== Scroll Down =============*/
.scroll_down {
  position: absolute;
  left: 3.75rem;
  top: calc(100% - 7rem);
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

.logo {
  position: absolute;
  right: calc(100% - 8.5rem);
  top: 1rem;
  width: 5rem;
  background: white;
  color: var(--color-bg);
  border: none;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
}

.logo_ext {
  position: absolute;
  left: 9rem;
  top: 2.75rem;
  width: 4rem;
  background: transparent;
  color: white;
  border: none;
  text-align: center;
  overflow: hidden;
}

.doted_line {
  display: none;
  border: 1px dotted var(--color-primary);
  position: absolute;
  left: -4.5rem;
  top: 19rem;
  width: 20rem;
  transform: rotate(90deg);
}

.under_line {
  border: 1px solid var(--color-primary);
  position: absolute;
  left: calc(100% - 30rem);
  top: 4rem;
  width: 7rem;
}

.top {
  content-visibility: hidden;
}

/* =================== MEDIA QUERIES (MEDIUM DEVICES) ==================== */
@media screen and (max-width: 1024px) {
  .top {
    content-visibility: visible;
    background: var(--color-primary-variant);
    height: 7rem;
  }
  header {
    height: fit-content;
    background-image: none;
    padding-top: 0;
    margin-bottom: 2rem;
  }
  .mine,
  .header_socials,
  .scroll_down,
  .doted_line,
  .under_line {
    display: none;
  }
  .header_container {
    height: 100%;
    justify-content: center;
  }

  /* =========== Mine =============*/
  .mine_image {
    content-visibility: visible;
    background: linear-gradient(var(--color-primary), transparent);
    width: 18rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 9rem);
    margin-top: calc(100% - 24rem);
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 0.5rem 1.5rem 0.2rem;
  }

.container-info {
  margin-left: 0;
}

  .container-info_names {
    padding: 1rem;
    background: transparent;
    margin-top: 4rem;
    border-radius: 2rem;
    position: static;
  }
  /* .header_socials {
    align-items: center;
    bottom: 8rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    left: 0;
    position: absolute;
  }
  .header_socials:after {
    background: var(--color-primary);
    content: "";
    height: 4rem;
    width: 1px;
  }
  .scroll_down {
    bottom: 12rem;
    font-size: 0.9rem;
    font-weight: 300;
    position: absolute;
    right: -38rem;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  } */
}

@media screen and (max-width: 700px) {
  .mine_image {
    content-visibility: visible;
    background: linear-gradient(var(--color-primary), transparent);
    width: 14rem;
    height: 22rem;
    position: absolute;
    left: calc(50% - 7rem);
    margin-top: calc(100% - 16rem);
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 0.5rem 1.5rem 0.2rem;
  }
}

@media screen and (min-width: 601px) and (max-width: 1023px) {
  .mine_image {
    display: none;
  }
}

/* =================== MEDIA QUERIES (SMALL DEVICES) ==================== */
@media screen and (max-width: 600px) {
  .top {
    content-visibility: visible;
    background: var(--color-primary-variant);
    height: 4rem;
  }
  header {
    height: 100vh;
    background-image: none;
    padding-top: 0;
    margin-bottom: 2rem;
  }

  .header_socials,
  .scroll_down,
  .mine,
  .doted_line,
  .under_line {
    display: none;
  }

  .container-info {
    padding-left: 0;
  }

  .header_container {
    height: 100%;
    justify-content: center;
  }

  /* =========== Mine =============*/
  .mine_image {
    content-visibility: visible;
    background: linear-gradient(var(--color-primary), transparent);
    width: 14rem;
    height: 22rem;
    position: absolute;
    left: calc(50% - 7rem);
    margin-top: calc(100% - 16rem);
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 0.5rem 1.5rem 0.2rem;
  }

  .container-info_names {
    padding: 1rem;
    background: transparent;
    margin-top: 1rem;
    border-radius: 2rem;
    position: relative;
  }
  .logo {
    position: absolute;
    left: 3.5rem;
    top: 0.5rem;
    width: 3rem;
    background: white;
    color: var(--color-bg);
    border: none;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
  }

  .logo_ext {
    position: absolute;
    left: 6.5rem;
    top: 2rem;
    width: 3rem;
    background: transparent;
    color: white;
    border: none;
    text-align: center;
    overflow: hidden;
    content-visibility: visible;
  }
}

@media screen and (max-width: 570px) {
  .mine_image {
    content-visibility: visible;
    background: linear-gradient(var(--color-primary), transparent);
    width: 14rem;
    height: 22rem;
    position: absolute;
    left: calc(50% - 7rem);
    margin-top: calc(100% - 14rem);
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 0.5rem 1.5rem 0.2rem;
  }
}

@media screen and (max-width: 500px) {
  .mine_image {
    content-visibility: visible;
    background: linear-gradient(var(--color-primary), transparent);
    width: 14rem;
    height: 22rem;
    position: absolute;
    left: calc(50% - 7rem);
    margin-top: calc(100% - 9rem);
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 0.5rem 1.5rem 0.2rem;
  }
}

@media screen and (max-width: 400px) {
  /* =========== Mine =============*/
  .mine_image {
    content-visibility: visible;
    background: linear-gradient(var(--color-primary), transparent);
    width: 14rem;
    height: 22rem;
    position: absolute;
    left: calc(50% - 7rem);
    margin-top: calc(100% - 2rem);
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 0.5rem 1.5rem 0.2rem;
  }
}

@media screen and (max-width: 300px) {
  .mine_image {
    content-visibility: visible;
    background: linear-gradient(var(--color-primary), transparent);
    width: 14rem;
    height: 22rem;
    position: absolute;
    left: calc(50% - 7rem);
    margin-top: calc(100% + 4rem);
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 0.5rem 1.5rem 0.2rem;
  }
}

@media screen and (width: 720px) {
  .mine_image {
    display: none;
  }
}

@media screen and (width: 540px) {
  /* =========== Mine =============*/
  .mine_image {
    content-visibility: visible;
    background: linear-gradient(var(--color-primary), transparent);
    width: 18rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 9rem);
    margin-top: calc(100% - 16rem);
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 0.5rem 1.5rem 0.2rem;
  }
}

@media screen and (width: 1024px) {
  .mine_image {
    display: none;
  }
  
  .scroll_down {
    bottom: 12rem;
    font-size: 0.9rem;
    font-weight: 300;
    position: absolute;
    right: -54rem;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

@media screen and (width: 768px) {
  /* .mine_image {
    display: none;
  } */
}

@media screen and (width: 414px) {
  /* =========== Mine =============*/
  .mine_image {
    content-visibility: visible;
    background: linear-gradient(var(--color-primary), transparent);
    width: 14rem;
    height: 22rem;
    position: absolute;
    left: calc(50% - 7rem);
    margin-top: calc(100% - 4rem);
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 0.5rem 1.5rem 0.2rem;
  }
}

@media screen and (width: 412px) {
  /* =========== Mine =============*/
  .mine_image {
    content-visibility: visible;
    background: linear-gradient(var(--color-primary), transparent);
    width: 14rem;
    height: 22rem;
    position: absolute;
    left: calc(50% - 7rem);
    margin-top: calc(100% - 4rem);
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 0.5rem 1.5rem 0.2rem;
  }
}

@media screen and (width: 375px) {
  .mine_image {
    content-visibility: visible;
    background: linear-gradient(var(--color-primary), transparent);
    width: 14rem;
    height: 22rem;
    position: absolute;
    left: calc(50% - 7rem);
    margin-top: calc(100% - 6rem);
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 0.5rem 1.5rem 0.2rem;
  }
}

@media screen and (width: 320px) {
  .mine_image {
    content-visibility: visible;
    background: linear-gradient(var(--color-primary), transparent);
    width: 14rem;
    height: 22rem;
    position: absolute;
    left: calc(50% - 7rem);
    margin-top: calc(100% - 2rem);
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 0.5rem 1.5rem 0.2rem;
  }
}